@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700);

body {
    margin     : unset;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size  : 16px;
}

.map {
    width  : 100vw;
    height : 100vh;
    z-index: 0;
}

#repoLink {
    position: absolute;
    top     : 1em;
    right   : 1em;
    z-index : 1;
}